/* styles go here */
.form-field {
  padding-bottom: 10px;
}

.fieldset {
  margin-bottom: 20px;
}

.fieldset_n1 {
  margin-bottom: 20px;
}

.fieldset_n2 {
  margin-bottom: 20px;
}

.fieldset_n3 {
  margin-bottom: 20px;
}
